<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/contact.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../img/logo.png" alt="">
            </div>
            <div class="menu">
                <ul>
                    <li id="viewHome"><a href="./index">home</a></li>
                    <li><a href="./new">news</a></li>
                    <li><a href="./menu">menu</a></li>
                    <li><a href="./about">about</a></li>
                    <li><a href="./access">contact</a></li>

                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="contact-bg">
            <img src="../img/contact.png" alt="contact-bg">
        </div>
        <div class="contact-content">
            <form action="" method="post">
                <div>
                    <label for="">お名前※必須</label>
                    <input type="text" placeholder="Name" name="">
                </div>
                <div>
                    <label for="">メールアドレス※必須</label>
                    <input type="text" placeholder="Gmail" name="">
                </div>
                <div>
                    <label for="">件名</label>
                    <input type="text" placeholder="subject" name="">
                </div>
                <div>
                    <label for="">お問い合わせ内容※必須</label>
                    <textarea name="" id="" cols="30" rows="10" placeholder="お問い合わせ内容を記入してください。"></textarea>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="bottomMenu">
            <ul>
                <img src="../img/footer-logo.png" alt="footer">
                <li id="viewHome"><a href="./index">home</a></li>
                <li><a href="./new">news</a></li>
                <li><a href="./menu">menu</a></li>
                <li><a href="./about">about</a></li>
                <li><a href="./access">access</a></li>
            </ul>
        </div>
        <!-- footer -->
        <div class="footer">
            <div class="phone">
                <li>〒101-0051 </li>
                <li>東京都千代田区神田神保町1丁目105</li>
                <li>tel : +81-3-3233-4100</li>
                <li>fax: 000-000-000</li>
            </div>
            <div class="adress">
                <p>website: jinbochomitsui.com</p>
                <ul>
                    <li><a href="" class="socialMedia"><i class="fab fa-facebook-f face fa-lg"></i></a></li>
                    <li><a href="" class="socialMedia"><i class="fab fa-twitter twitter fa-lg"></i></a></li>
                    <li><a href="" class="socialMedia"><i class="fab fa-instagram instagram fa-lg"></i></a></li>
                    <li><a href="" class="socialMedia"><i class="fab fa-youtube youtube fa-lg"></i></a></li>
                </ul>

            </div>
        </div>
        <!-- footer -->
        <!-- scroll to top -->
        <div class="scrollToTop">
            <button><i class="fas fa-arrow-up"></i></button>
        </div>
        <!-- scroll to top -->
        <!-- main images -->
    </main>
</body>

</html>