<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/menu.css">
    <script src="./js/menu.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../img/logo.png" alt="">
            </div>
            <div class="menu">
                <ul>
                    <img src="../img/footer-logo.png" alt="footer">
                    <li><a href="./index">home</a></li>
                    <li><a href="./new">news</a></li>
                    <li><a href="./menu">menu</a></li>
                    <li><a href="./about">about</a></li>
                    <li><a href="./access">contact</a></li>

                </ul>
            </div>
        </nav>
    </header>



    <!-- menu -->
    <div class="menuPage" id="menu">
        <img src="../img/menu.png" alt="menu">
        <div class="setmenuFood" id="caffe">
            <img src="../img/top-menu-beverage.png" alt="menu-brage">
            <section class="menu-card-title card">
                <h3>コーヒー</h3>
                <div class="beverage-card">
                    <img src="../img/top-fig01.png" alt="cafeCup">
                    <p>オリジナルブレンドコーヒー</p>
                </div>
                <div class="beverage-card-content">
                    <ul>
                        <li>
                            <span>オリジナルブレンドコーヒー（hot cold）</span>
                            <span>¥500</span>
                        </li>
                        <li>
                            <span>カフェオレ（hot cold）</span>
                            <span>¥600</span>
                        </li>
                        <li>
                            <span>カプチーノ（hot cold）</span>
                            <span>¥600</span>
                        </li>
                        <li>
                            <span>シングルオリジンコーヒー ニカラグア（hot cold）</span>
                            <span> ¥700</span>
                        </li>
                        <li>
                            <span>シングルオリジンコーヒー ケニア（hot cold）</span>
                            <span>¥700</span>
                        </li>
                        <li>
                            <span>シングルオリジンコーヒー ジャマイカ（hot cold）</span>
                            <span>¥900</span>
                        </li>
                    </ul>
                </div>

            </section>


            <section class="menu-card-2 card" id="tea">
                <h3>ティー</h3>
                <span class="wrap-card">
                    <div class="card-2">
                        <img src="../img/menu-drink-tea.png" alt="cafeCup-2">
                        <p>いろいろなお茶</p>
                    </div>
                    <div class="beverage-card-content-2">
                         <ul>
                             <li>
                                 <span>ダージリン（hot cold）</span>
                <span>¥500</span>
                </li>
                <li>
                    <span>アールグレイ（hot cold）</span>
                    <span>¥700</span>
                </li>
                <li>
                    <span>ロイヤルミルクティー</span>
                    <span>¥600</span>
                </li>
                <li>
                    <span>チャイ（hot cold）</span>
                    <span> ¥700</span>
                </li>
                <li>
                    <span>緑茶（静岡県）（hot cold）</span>
                    <span>¥400</span>
                </li>
                <li>
                    <span>ほうじ茶（静岡県）（hot cold）</span>
                    <span>¥300</span>
                </li>
                </ul>
        </div>
        </span>
        </section>
        <section class="menu-card-3  card" id="other">
            <h3>その他</h3>
            <div class="food-card-3">
                <img src="../img/menu-drink-other.png" alt="cafeCup-3">
                <p>自家製レモネード</p>
            </div>
            <div class="beverage-card-content-3">
                         <ul>
                             <li>
                                 <span>自家製ジンジャーエール</span>
            <span>¥300</span>
            </li>
            <li>
                <span>自家製レモネード </span>
                <span>¥750</span>
            </li>
            <li>
                <span>メロンソーダー</span>
                <span>¥600</span>
            </li>
            <li>
                <span>コカ・コーラ </span>
                <span> ¥800</span>
            </li>
            <li>
                <span>アイスミルク</span>
                <span>¥200</span>
            </li>
            <li>
                <span>オレンジジュース</span>
                <span>¥300</span>
            </li>
            </ul>
    </div>
    </span>
    </section>
    <img src="../img/top-menu-foods.png" alt="menu-food-1" id="food">
    <section class="menu-card-4 card" id="fastfood">
        <h3>軽食</h3>
        <div class="food-card-1">
            <img src="../img/menu-food.png" alt="cafeCup-4">
            <p>おおきなミートボールスパゲッティ</p>
        </div>
        <div class="beverage-card-content-4">
            <ul>
                <li>
                    <span>おおきなミートボールスパゲッティ</span>
                    <span>¥500</span>
                </li>
                <li>
                    <span>ボンゴレスパゲッティ</span>
                    <span>¥600</span>
                </li>
                <li>
                    <span>サンドイッチ</span>
                    <span>¥600</span>
                </li>
                <li>
                    <span>ハンバーガー</span>
                    <span> ¥700</span>
                </li>
                <li>
                    <span>週替わりカレー</span>
                    <span>¥700</span>
                </li>

            </ul>
        </div>

    </section>
    <section class="menu-card-5 set card" id="desert">
        <h3>デザート</h3>
        <div class="food-card-2">
            <img src="../img/top-fig02.png" alt="cafeCup-5">
            <p>フルーツたっぷりトースト</p>
        </div>
        <div class="beverage-card-content-5">
            <ul>
                <li>
                    <span>パンケーキ</span>
                    <span>¥500</span>
                </li>
                <li>
                    <span>フルーツたっぷりトースト </span>
                    <span>¥600</span>
                </li>
                <li>
                    <span>季節のパフェ</span>
                    <span>¥600</span>
                </li>
                <li>
                    <span>ニューヨークチーズケーキ</span>
                    <span> ¥700</span>
                </li>
                <li>
                    <span>コーヒーゼリー</span>
                    <span>¥700</span>
                </li>

            </ul>
        </div>

    </section>

    <img src="../img/top-menu-setmenu.png" alt="menu-food-3" id="set">
    <span class="title-2">
                   <p>すべての軽食・デザートにプラス300円でドリンクがつけられます。</p>
                   <p>冷たい飲み物には、プラス100円でアイスフロートにできます。</p>
               </span>
    <section class="menu-card-6 card">
        <h3>モーニングセット 7:00-11:00まで</h3>
        <div class="food-card-6">
            <img src="../img/top-fig03.png" alt="cafeCup-6">
            <p>カフェオレをセットに</p>
        </div>
        <div class="beverage-card-content-6">
            <ul>
                <li>朝カフェ・セットA ハムタマゴサラダ</li>
                <li>朝カフェ・セットB 3種のチーズとベーコン・エッグ</li>
                <li>朝カフェ・セットC ジャーマンドック </li>
            </ul>
        </div>

    </section>



    <span class="menubar"><i class="fab fa-elementor fa-2x"></i><a href="#menuPage">メニュー</a></span>

    <section class="menu-card-img">
        <ul>
            <li><i class="fas fa-glass-martini-alt fa-lg"></i>
                <a href="#nomimono"></i>飲み物</a>
            </li>
            <li><i class="fas fa-glass-martini-alt fa-lg"></i><a href="#caffe">コーヒー</a></li>
            <li><i class="fas fa-glass-martini-alt fa-lg"></i><a href="#tea">ティー</a></li>
            <li><i class="fas fa-glass-martini-alt fa-lg"></i><a href="#other">その他</a></li>
            <li><i class="fas fa-utensils fa-lg"></i><a href="#food">食べ物</a></li>
            <li><i class="fas fa-utensils fa-lg"></i><a href="#fastfood">軽食</a></li>
            <li><i class="fas fa-utensils fa-lg"></i><a href="#desert">デザート</a></li>
            <li><i class="fas fa-utensils fa-lg"></i><a href="#set">セット</a></li>

        </ul>
    </section>
    </div>
    </div>
    <!-- menu -->

    <!-- access -->
    <div class="access" id="access">
        <div class="bottomMenu">
            <ul>
                <img src="../img/footer-logo.png" alt="footer">
                <li id="viewHome"><a href="./index">home</a></li>
                <li><a href="./new">news</a></li>
                <li><a href="./menu">menu</a></li>
                <li><a href="./about">about</a></li>
                <li><a href="./access">access</a></li>
            </ul>
        </div>

    </div>
    </div>
    <!-- access -->
    <!-- footer -->
    <div class="footer">
        <div class="phone">
            <li>〒101-0051 </li>
            <li>東京都千代田区神田神保町1丁目105</li>
            <li>tel : +81-3-3233-4100</li>
            <li>fax: 000-000-000</li>
        </div>
        <div class="adress">
            <p>website: jinbochomitsui.com</p>
            <ul>
                <li><a href="" class="socialMedia"><i class="fab fa-facebook-f face fa-lg"></i></a></li>
                <li><a href="" class="socialMedia"><i class="fab fa-twitter twitter fa-lg"></i></a></li>
                <li><a href="" class="socialMedia"><i class="fab fa-instagram instagram fa-lg"></i></a></li>
                <li><a href="" class="socialMedia"><i class="fab fa-youtube youtube fa-lg"></i></a></li>
            </ul>

        </div>
    </div>
    <!-- footer -->
    <!-- scroll to top -->
    <div class="scrollToTop">
        <button><i class="fas fa-arrow-up"></i></button>
    </div>
    <!-- scroll to top -->
    <!-- main images -->

</body>

</html>