<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/new.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../img/logo.png" alt="">
            </div>
            <div class="menu">
                <ul>
                    <li id="viewHome"><a href="./index">home</a></li>
                    <li><a href="./new">news</a></li>
                    <li><a href="./menu">menu</a></li>
                    <li><a href="./about">about</a></li>
                    <li><a href="./access">access</a></li>

                </ul>
            </div>
        </nav>
    </header>
    <main>
        <!-- main images -->

        <div class="news-menu">
            <img src="./img/news.png" alt="news">
            <ul>
                <li><a href="#">新商品</a>
                    <p>2020/10/12</p>
                    <p>ホンジュラス産のコーヒー豆を使ったブレンドの販売を始めました</p>
                </li>
                <li><a href="#">お知らせ</a>
                    <p>2020/02/01</p>
                    <p>2月19日（金）社員研修のためイートインの時間19時までとさせて糸田来ます。</p>
                </li>
                <li><a href="#">お知らせ</a>
                    <p>2020/02/19</p>
                    <p>豆から学ぶコーヒーの淹れかたセミナー受付開始しました。</p>
                </li>
            </ul>
            <button><a href="#">メニュー覧</a></button>
        </div>

        <!-- access -->
        <div class="access" id="access">
            <div class="bottomMenu">
                <ul>
                    <img src="../img/footer-logo.png" alt="footer">
                    <li><a href="./index">home</a></li>
                    <li><a href="./new">news</a></li>
                    <li><a href="./menu">menu</a></li>
                    <li><a href="./about">about</a></li>
                    <li><a href="./access">contact</a></li>
                </ul>
            </div>

        </div>
        </div>
        <!-- access -->
        <!-- footer -->
        <div class="footer">
            <div class="phone">
                <li>〒101-0051 </li>
                <li>東京都千代田区神田神保町1丁目105</li>
                <li>tel : +81-3-3233-4100</li>
                <li>fax: 000-000-000</li>
            </div>
            <div class="adress">
                <p>website: jinbochomitsui.com</p>
                <ul>
                    <li><a href="" class="socialMedia"><i class="fab fa-facebook-f face fa-lg"></i></a></li>
                    <li><a href="" class="socialMedia"><i class="fab fa-twitter twitter fa-lg"></i></a></li>
                    <li><a href="" class="socialMedia"><i class="fab fa-instagram instagram fa-lg"></i></a></li>
                    <li><a href="" class="socialMedia"><i class="fab fa-youtube youtube fa-lg"></i></a></li>
                </ul>

            </div>
        </div>
        <!-- footer -->
        <!-- scroll to top -->
        <div class="scrollToTop">
            <button><i class="fas fa-arrow-up"></i></button>
        </div>
        <!-- scroll to top -->
        <!-- main images -->
    </main>
</body>

</html>