.news-menu{
    background-image: url(../img/top-news-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 131px;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 390px;
    
}
/* .news-menu{
    background-image: url(../img/top-news-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-top: 0;
    padding-top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.news-menu img[alt="news"]{
    margin-top:-12px;
}
.news-menu ul{
    list-style: none;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.news-menu li{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}

.news-menu li a{
    text-decoration: none;
    text-align: center;
    color: black;
    border: 1px solid #000000;
    border-radius: 25px;
    width: 80px;
    text-align: center;
    font-size: 15px;
    height: 25px;
    line-height: 25px;
    margin-left: 0;
    padding-left: 0;
    transition: all 0.3s ease-in-out;
}
.news-menu li a:hover{
    background:#FF4000;
}
.news-menu p{
    margin-left: 20px;
    font-size: 16px;
}
.news-menu button{
    border: none;
    height: 33px;
    width: 150px;
    border-radius: 25px;
    background: #2ECCFA;
    margin-top: 10px;
    transition: all 0.6s ease-in-out;
}
.news-menu button:hover{
    cursor: pointer;
    background: #FE2E2E;
}
.news-menu button a{
    text-decoration: none;
    color: white;
    font-size: 13px ;
}